.side-navbar{
    width: 250px;
    height: 100vh;
    background-color: #4c57c1;
}

.logo-container {
    padding-bottom: 15px;
}

.logo-img {
    width: 180px;
}

.profile-container {
    display: flex;
    padding: 15px 20px;
}

.profile-img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
}

.profile-info small{
    color: aliceblue;
    font-size: small;
}

ul>li {
    width: 100%;
}

.side-navbar .nav-link{
    font-size: 16px;
    padding: 18px;
    transition: background 0.3s;
}

.nav-link:hover,
.nav-link.active{
    background-color: #3b47a3;
    border-radius: 8px;
}
